body{
    background-color:burlywood;
}
h1 {
    text-align: center;
    color:ivory;
    background-color: darkslategrey;
    font-family: 'Courier New', Courier, monospace;
}
h6 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}